[submodule "MyGame/Vendor/SpdLog"]
	path = MyGame/Vendor/SpdLog
	url = https://github.com/gabime/spdlog
[submodule "MyGame/Vendor/ImGui"]
	path = MyGame/Vendor/ImGui
	url = https://github.com/ocornut/imgui
[submodule "MyGame/Vendor/Box2D"]
	path = MyGame/Vendor/Box2D
	url = https://github.com/erincatto/box2d
[submodule "MyGame/Vendor/DirectXTK12"]
	path = MyGame/Vendor/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12
[submodule "MyGame/Vendor/D3D12MemoryAlloc"]
	path = MyGame/Vendor/D3D12MemoryAlloc
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
